/* :root {
  --ck-custom-background: hsl(0, 68%, 52%);
  --ck-border-radius: 10px;
  --ck-color-panel-background: var(--ck-custom-background);
  --ck-color-toolbar-background: var(--ck-custom-background);
} */